<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header'); %> 
        <style>
          body {
            background-color: rgb(159, 255, 223);
          }
          .centered {
              padding-top: 200px;
              text-align: center; 
          }
      
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

  <body>
   
    <div class="jumbotron centered">
      <div class="container">
        <b><h1 class="display-3">My Todo</h1></b>
        <p class="lead">Write your all Todos and Track them</p>
        <hr />
        <a class="btn btn-light btn-lg" href="/register" role="button"
          >Register</a
        >
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>

  </body>
</html>
